*,html,body{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


.todo__list{
  padding: 1em;
  width: 90%;
  margin:1em auto;
  box-shadow: 1px 1px 1px;
}

.todo__item{
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  cursor: pointer;
  transition:all 0.2s ease-in-out;
  &:hover{
    transform: translateY(-3px);
    box-shadow: 1px 1px 15px rgba(0,0,0,0.9);
  }
  &-completed{
    background-color: rgba(82,255,138,0.34);
    text-decoration: line-through;
  }
}
